* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html, body {
    height:100%;
    width:100%;
}

/* #parent{
    height:10vmax;
    width:12vmax;
    background-color: aqua;
}

#child{
    height:8vmax;
    width:10vmax;
    background-color: crimson;
} */

.box{
    /* min-height: 100%; */
    max-height: 100%;
    width: 100%;
    background-color: rosybrown;
}

.box1{
    height:200px;
    width:200px;
    background-color: violet;
    border:2px solid white;
}